* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
     font-size: 62.5%;
}

.container

.logo {
    padding: 3rem;
}
.logo-img {
    width: 27.2rem;
}

.search-nav
.search-nav-img {
    width: 2rem;
}
.search-searcher

.buttons
.buttons-items